{% extends "base.html" %}

{% block content %}
<h2>Каналы</h2>

<div id="channels"></div>

<script>
fetch("/api/v1/channels/list")
    .then(r => r.json())
    .then(data => {
        const box = document.getElementById("channels");

        data.forEach(ch => {
            box.innerHTML += `
                <div class="channel">
                    <h3>${ch.title}</h3>
                    <p>${ch.description}</p>
                    <a href="/channels/${ch.id}">Открыть</a>
                </div>
            `;
        });
    });
</script>
{% endblock %}
